In [5]:
import pandas as pd

import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [35]:
college_grad = pd.read_csv('data/Pivot_College_Graduation_or_More.csv')

#rename cols, drop title line
college_grad = college_grad.rename(columns={"SUM of Percent": "geo_id", "Year": "2006-2010", "Unnamed: 2" : "2011-2015", "Unnamed: 3" : "2012-2016"})
college_grad = college_grad.drop([0]).reset_index(drop = True)
college_grad.head()

  geo_id 2006-2010 2011-2015 2012-2016
0      1      39.0      41.9      42.9
1      2      35.1      39.3      39.5
2      3      49.1      55.1      54.1
3      4      53.8      58.3      60.7
4      5      66.3      68.1      69.3

In [40]:
#convert to floats 
college_grad["2006-2010"] = pd.to_numeric(college_grad["2006-2010"])
college_grad["2011-2015"] = pd.to_numeric(college_grad["2011-2015"])
college_grad["2012-2016"] = pd.to_numeric(college_grad["2012-2016"])

In [47]:
#Calculate percent change between year 2012-2016 and 2006-2010
college_grad['Diff_06-16'] = college_grad['2012-2016'] - college_grad['2006-2010']

In [48]:
college_grad.head()

  geo_id  2006-2010  2011-2015  2012-2016  Diff_06-16
0      1       39.0       41.9       42.9         3.9
1      2       35.1       39.3       39.5         4.4
2      3       49.1       55.1       54.1         5.0
3      4       53.8       58.3       60.7         6.9
4      5       66.3       68.1       69.3         3.0

In [49]:
college_grad.to_csv('college_grad_cln.csv')